.contacts-title {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content__contacts-phone,
.content__contacts-oline {
  list-style-type: none;
}

.form-element {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit-button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
