.introduction {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.introduction__button {
  display: inline-block;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  opacity: 1;
  margin-top: 71px;
}

.content-wrap {
  height: 696px;
  box-sizing: border-box;
  background-image: url(./assets/top-illustration.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: 107px;
}

.introduction__title {
  font-size: 64px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  width: 510px;
  color: #1f3f68;
}

.introduction__text {
  width: 425px;
  padding-top: 35px;
}

.advantages,
.project {
  padding-top: 64px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 64px;
}

.advantages__item {
  width: 359px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 43px 32px;
}

.advantages__subtitle {
  max-width: 294px;
  padding: 51px 0 14px 0;
}

.advantages__more {
  display: inline-block;
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}

.project {
  padding-bottom: 112px;
}

.project__text {
  padding: 32px 0 64px 0;
  margin: 0 auto;
  text-align: center;
  color: #222222;
  max-width: 750px;
  opacity: 1;
}

.project__image {
  width: 100%;
}

.project__image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.project__image-item {
  position: relative;
}

.project__image-container .project__image-item {
  flex-grow: 1;
}

.project__image-item:first-child {
  margin-right: 32px;
}

.project__image-title-top,
.project__image-title-bottom {
  font-style: normal;
  font-weight: normal;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
}

.project__image-title-top {
  font-size: 32px;
  top: 64px;
  right: 64px;
}

.project__image-title-bottom {
  font-size: 28px;
  top: 32px;
  left: 32px;
}
