* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}

.page-title {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.title {
  font-size: 36px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.introduction__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.introduction__title {
  font-size: 64px;
  width: 510px;
  color: #1f3f68;
}

.introduction__text {
  width: 425px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.advantages__item {
  width: 359px;
}

.footer__content {
  width: 495px;
}

.footer__title {
  width: 340px;
}

.footer__contacts {
  font-style: normal;
}

.footer__contacts-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content__contacts-phone,
.content__contacts-oline {
  list-style-type: none;
}

.form-element {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit-button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
