/* *********************** >320px *********************** */

.contact-us {
  height: 250px;
  padding: 37px 16px 61px;
  box-sizing: border-box;
  background-image: url("../contacts-top-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-us__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-bottom: 32px;
}

.contact-us__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  max-width: 345px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 37px;
  max-width: 300px;
  box-sizing: content-box;
}

.content__contacts-image {
  width: 100%;
}

.content__contacts-info {
  padding-top: 35px;
  font-style: normal;
}

.content__contacts .subtitle {
  text-align: left;
  text-transform: uppercase;
  margin: 40px 0 24px;
}

.content__contacts .subtitle:first-child {
  margin: 0 0 24px;
}

.content__contacts-phone,
.content__contacts-oline {
  list-style-type: none;
}

.content__contacts-li {
  display: flex;
}

.content__contacts-phone li:first-child,
.content__contacts-oline li:first-child {
  margin-bottom: 14px;
}

.content__contacts-icon {
  height: 24px;
  width: 24px;
  display: block;
  opacity: 0.6;
  margin-right: 16px;
}

.content__contacts-phone a,
.content__contacts-oline a {
  text-decoration: none;
}

.content__form {
  width: 93vw;
  max-width: 342px;
  box-sizing: border-box;
  background: var(--white);
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 17px;
  padding: 36px;
}

.content__form .subtitle {
  text-transform: uppercase;
  margin-bottom: 31px;
}

.content__form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.content__form span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--biskay-blue);
  opacity: 0.8;
}

.form-element {
  border: 1px solid var(--pigeon-post);
  border-radius: 10px;
}

.content__form input:focus,
.content__form textarea:focus {
  outline: none;
  border: var(--astral) solid 1px;
}

.form-element::placeholder {
  opacity: 0.6;
}

.content__form input[type="text"],
.content__form input[type="email"],
.content__form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--biskay-blue);
  padding-left: 15px;
}

.content__form input {
  height: 46px;
}

.content__form textarea {
  height: 92px;
  padding-top: 7px;
}

.submit-button {
  background: var(--danube);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.submit-button:hover,
.submit-button:focus {
  background: var(--boston-blue);
  outline: none;
}

.map {
  margin: 64px auto;
  height: 350px;
}

/* *********************** >375px *********************** */
@media all and (min-width: 375px) {
  .contact-us {
    padding: 48px 16px 61px;
  }
}

/* *********************** >650px *********************** */
@media all and (min-width: 650px) {
  .contact-us {
    padding: 30px 16px;
  }

  .contact-us__title {
    font-size: 44px;
    line-height: 74px;
    margin-bottom: 18px;
  }

  .contact-us__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 520px;
  }

  .content__contacts {
    padding: 64px 37px;
  }

  .content__contacts .subtitle {
    margin: 40px 0 24px;
  }

  .content__form {
    max-width: 520px;
    margin: 0 17px;
    padding: 54px;
  }

  .content__form .subtitle {
    max-width: 125px;
  }

  .content__form label {
    margin-bottom: 31px;
  }

  .content__form span {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .content__form input,
  .content__form textarea {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__form input {
    height: 70px;
  }

  .content__form textarea {
    height: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .submit-button {
    margin-top: 39px;
    height: 70px;
  }

  .map {
    margin-bottom: 64px;
    height: 392px;
  }
}

/* *********************** >1100px *********************** */
@media all and (min-width: 1100px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    padding: 84px 0;
  }

  .content__contacts {
    padding: 0;
  }

  .content__form {
    margin: 0;
  }

  .map {
    height: 480px;
    max-width: 1140px;
    margin: 0 auto 84px;
  }
}

@media all and (min-width: 1366px) {
  .contact-us {
    background-size: cover;
  }
}
